.titulo-principal.color-acento-contenido .titulo-principal__numero span 
    color: #FFFF
.jumbotrom
  background: linear-gradient(176deg, rgba(77,208,225,1) 0%, rgba(255,255,255,1) 100%)
  border-top-left-radius: 2rem
  border-top-right-radius: 2rem
.jumbotron-1
  background-color: #C1E7F9
.jumbotron-2
  background-color:#FFECB1
  border-top-right-radius: 1rem
  border-bottom-right-radius: 1rem
.jumbotron-3
  background-color:#FFF5D6
  border-top-right-radius: 1rem
  border-bottom-right-radius: 1rem
.jumbotron-4
  background-color:#B3E0FF
  border-top-right-radius: 2rem
  border-bottom-right-radius: 2rem
  border-top-left-radius: 2rem
  border-bottom-left-radius: 2rem
.jumbotron-5
  background: linear-gradient(266deg, rgba(110,198,225,1) 0%, rgba(255,255,255,1) 100%)
  border-top-right-radius: 2rem
  border-bottom-right-radius: 2rem
  border-top-left-radius: 2rem
  border-bottom-left-radius: 2rem
  margin: 1rem
.jumbotron-6
  background-color: #FFF4C6
.jumbotron-7
  background-color: #1565C0
.jumbotron-8
  background-color: #F3F9FF
.jumbotron-9
  background-color: #C1F1F6
.jumbotron-10
  background-color: #F3F9FF
.jumbotron-11
  background-color:#F6F6F6
.color-custom-1
	background-color: #B3EBEF
	&::before
	  background-color: #039BE5
.color-custom-2
	background-color: #BAEDF3
	&::before
	  background-color: #4DD0E1
.color-tarjeta-1
  background-color: #88E1EC
.color-tarjeta-2
  background-color: #FFDA67
.color-tarjeta-3
  background-color: #0EC2D8
.color-tarjeta-4
  background-color: #FFC171
.color-tarjeta-5
  background-color: #EE747B
.color-tarjeta-6
  background-color: #28AE00
.color-tarjeta-7
  background-color: #9B5EC9
.m-left
  left: 50% !important 
.bloque-texto-g
  justify-content: flex-start !important 
.bloque-g-text 
  justify-content: flex-end !important 
.bloque-texto-g
  &__texto 
    z-index: 1
  &__img 
    z-index: 0
.cRedondo
  border-radius: 3rem
  max-width: 70%
  margin: -5rem auto 3rem
  
.bloque-texto-g.color-secundario
  background-color: rgba(3,155,229,.25) !important
  border-left: 10px solid rgb(3,155,229)
.bloque-texto-g
  &__texto 
    z-index: 1
  &__img 
    z-index: 0
@media screen and ( min-width: 992px )
  
  .reverse
    .bloque-texto-g__texto 
      position: relative
      width: 60%
      background-color: rgba(255, 255, 255, 0.95)
      left: -40%
      z-index: 1
      border-radius: 0 1rem 1rem 0
    .bloque-texto-g__img 
      width: 50%
      position: absolute
      top: 0
      left: 50% !important
      bottom: 0
      background-position: center
      background-size: cover
      z-index: 0
.cac 
  color: #FFA726 !important
.lista-ul--color li > i:first-of-type 
  color: #FFA726
.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
    background-color: #FFA726
    color: #12263F
.acordion
  .tarjeta--azul
    background-color: #4dd0e1
    &.acordion__activo
      background-color: rgba(77,208,225,.15)

$cacb: #F3F9FF
$cap: #1565c0
$caclarito: #D2EDEA

.linea-tiempo-d.color-secundario.especial
  .linea-tiempo-d__item--selected
    .linea-tiempo-d__item__number
      background-color: $color-acento-contenido
      color: $color-sistema-texto
    .linea-tiempo-d__item__content
      background-color: #F6F6F6


  .linea-tiempo-d__item__number
    background-color: #46C9DB
  .linea-tiempo-d__item__content
    background-color: #E4F7FA

.tabla-b.color-secundario .tabla-b__header *, .color-secundario.tabla-c .tabla-b__header * 
  color: #000000
.tabla-b.color-secundario .tabla-b__header, .color-secundario.tabla-c .tabla-b__header 
  background-color: #C7F6F3

.tabla-b td, .tabla-c td, .tabla-b th, .tabla-c th 
  border: solid 1px 
.fondo
  background-color: #F3F9FF
.fondo-2
  background-color: #F3F9FF
  background-position: right
  margin-inline-end: 5px
  margin-top: -50px
  margin-right: 88px
  margin-left: 30px
  margin-inline-end: -55px
  z-index: 2
.anexo:active, .anexo:focus, .anexo:hover 
  background-color: #FFFFFF
.fondo-3
  background-color: #F6F6F6
.slyder-a__bullets__item--active 
  background-color: #FFA726
  border-color: #727997
  opacity: 1
.fondo-4
  background-color: #F3F9FF
.fondo-5
  background-color: #F6F6F6
.fondo-6
  background-image: url('../assets/curso/images/tema1/back.svg')
  background-size: 100%
  background-position: bottom center
  background-repeat: no-repeat
.fondo-7
  background-image: url('../assets/curso/images/tema1/back_1.svg')
  background-size: 100%
  background-position: center
  background-repeat: no-repeat
  margin-top: -4rem
.back-tab
  background-color: #F6F6F6
.th-1
  background-color: #FFE2E4
.th-2 
  background-color: #A5EF8F
.th-3
  background-color: #D4BDE6
.th-4
  background-color: #FFCA28
.cs
  color: #EE747B
.cs-2
  color: #28AE00
.cs-3
  color: #9B5EC9
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, banner-principal h5, .banner-principal h6 
  color: #12263F
.cajon-b.color-primario::before 
  background-color: #FFECB1
.fblue-1
  background-color: #C3F0F6 !important
.fblue-2
  background-color: #B5E7FF!important
.fblue-3
  background-color: #FFDB6E !important  
.fblue-4
  background-color: #FFBE6A!important
.titulo-segundo::after 
  content: ''
  display: block
  height: 3px
  width: 140px
  border-left: solid 50px
    border-left-color: currentcolor
  border-left-color: #FFCA28
  background-color: #e8e8e8
.color-table
  background-color: #FFCA28
.color-table-1
  background-color: #65CDFF
.cajon-b.color-primario::before 
  background-color: #D2F3F8
.color-table 
  background-color: #FFA726
.color-table-1 
  background-color: #4DD0E1


